*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: inherit;
    min-width: 800px;
    margin: auto 0;
}