.page {
    z-index: 1;
    position: relative;
}

.page::after {
    position: absolute;
    inset: 0;
    content: '';
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
}

.page__title {
    padding-top: 60px;
    margin: 0 auto;
    width: 800px;
    font-size: 116px;
    letter-spacing: 0.035em;
    font-family: inherit;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.page__title::after {
    content: "*";
    font: inherit;
}

.page__title:hover {
    cursor: default;
    color : #4d4d4d;
}

.page__title:hover::before {
    padding: 36px 44px;
    background-color: #FFF;
    border: 2px solid #000;
    border-radius: 20px;
    font-size: 35px;
    text-align: left;
    letter-spacing: normal;
    text-transform: none;
    line-height: 35px;
    font-family: inherit;
    font-weight: 400;
    position: absolute;
    right: 22px;
    top: 180px;
    z-index: 3;
    content: 'На самом деле нет.\AВажнее &mdash; научиться ошибаться.';
    white-space: pre;
    box-shadow: 0 14px 0 0 currentColor;
}

.page__video {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -2;
}